@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;700&display=swap');

:root {
    --Queen-Pink: #E8C2CA;
    --Glossy-Grape: #B392AC;
    --Light-Dark-Blue: #8FB8DE;
    --Light-Cyan: #CDF7F6;
    --Neon-Blue: #5465ff;
    --Black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spline Sans Mono", sans-serif;
}

body {
    background-color: var(--Light-Dark-Blue);
    color: var(--Black);
    margin-bottom: 50px;
}

.border {
    margin: 0 auto;
}

.hide {
    display: none;
}

.line {
    border: 1px solid var(--Light-Cyan);
}

/* Start Header Section */
header {
    text-align: center;
    background-color: var(--Light-Cyan);
    padding: 20px;
    color: var(--Black);
    border-bottom: 1px solid white;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
}
/* End Header Section */

/* Start Search Section */
.search {
    background-color: var(--Glossy-Grape);
    border-radius: 5px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.search h4 {
    text-align: center;
    background-color: var(--Light-Cyan);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.clear-button {
    width: 80px;
    height: 28px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--Light-Cyan);
    border: none;
    border-radius: 5px;
}

.clear-button:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form label {
    text-align: center;
    padding: 8px;
    font-size: 20px;
}

.form input {
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

.form button {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0 15px;
    background-color: var(--Light-Cyan);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.form button:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

.recent-searches {
    font-size: 18px;
}

ul {
    text-align: center;
    list-style-type: none;
}

ul li {
    margin: 15px 0;
    background-color: var(--Light-Cyan);
    border-radius: 5px;
    padding: 10px;
}
/* End Search Section */

/* Start the Current Weather Section */
.current {
    background-color: var(--Glossy-Grape);
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    height: 750px;
}
.current h4 {
    text-align: center;
    background-color: var(--Light-Cyan);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

#current-img {
    display: block; 
    margin: 0 auto;
    height: 120px;
}

.title {
    font-size: 25px;
}

.current-content {
    font-size: 20px;
}

.color {
    padding: 5px;
    color: var(--Black);
    border-radius: 5px;
}
/* End the Current Weather Section */

/* Start 5 day forecast Section */
.card {
    width: 250px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.card-heading {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--Light-Cyan);
}

.card-content {
    font-size: 12px;
}

.img {
    width: 80px;
    margin: 0 auto;
    position: relative;
    top: -10px;
}
/* End 5 day forecast Section */