@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;700&display=swap');

:root {
    --Queen-Pink: #E8C2CA;
    --Glossy-Grape: #B392AC;
    --Light-Dark-Blue: #8FB8DE;
    --Light-Cyan: #CDF7F6;
    --Neon-Blue: #5465ff;
    --Black: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spline Sans Mono", sans-serif;
}

body {
    background-color: var(--Light-Dark-Blue);
    color: var(--Black);
}

/* Start Header Section */
header {
    text-align: center;
    background-color: var(--Neon-Blue);
    padding: 20px;
    color: white;
}

header h1 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 5px;
}
/* End Header Section */